body{
  width:100%;
  height: 100vh;
  margin:0;
  background-image: url(https://synergy.ru/assets/upload/news/programmist_posle_9_klassa_predmetyi,_ekzamenyi,_dlitelnost_obucheniya3.jpg);
  color:#f3f3f3;
  font-family: calibri;
  font-size:16px;

}

.inline {
  vertical-align: maddle;
  margin: 0 0.5em 0 0;
  width: unset;
}

h1,p {
  text-align:center;
  margin: 1em auto;
}

form {
  background-color: #292948;
  background-opacity: 50%;
  max-width: 500px;
  min-width: 300px;
  margin: 0 auto;
  padding-bottom: 2em;
}

fieldset {}

fieldset:last-of-type {}
label {} 

input,textarea {}

input[type="submit"] {}

input[type="file"] {}

a {}
