*{
  font-family: 'Montserrat Alternates', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  }

  li, a, button{
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #ecf0f1;
    text-decoration: none;

}


header {

    height: 100px;
    background-color: #321b1b;
    display: flex;
    align-items: center;
    position: fixed;
    justify-content: space-around;

}

#logo {
    order: ;
    padding: 5px;
    height: 100px;

}


nav {
    order: ;
  }
  
nav > ul {
    list-style: none;
  }
  
  nav > ul > li {
    padding: 0px 20px;
    display: inline-block;
  }
  
  nav > ul > li:hover {
    color:#0088a9;
    cursor: pointer;
  }
  
  li > a {

    color: inherit;
    text-decoration: none;
  }
  button{
    margin-left: 20px;
    padding:9px 25px;
    background-color: rgba(0, 136,169,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
.social-icons{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    align-items: center;
    background-color: pink;
    border: 2px solid white;
}

.joinus{}

.about{}
