*{
  padding: 0;
  margin: 0;
  box-sizing:border-box;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  list-style: none;

}
:root{
  --bg-color: #222327;
  --text-color: #fff;
  --main-color: #29fd53;
}
body{
  min-height: 100vh;
  background: var(--bg-color);
  color: var(--text-xolor) ;

}

.first{
  background-image:linear-gradient(to bottom, rgba(0,0,0,0.3) 0%,rgba(0,0,0,0.3) 50%,rgba(0,0,0,0.7) 75%,#000 100%), url(https://sun9-23.userapi.com/impg/r7hlvLf_kjEXXcGqvJMFbZR8RS7REWKYcSrVFA/6XQEqZV_FaM.jpg?size=2560x1708&quality=96&sign=d9aabe5da04823ae8511db954a64bba4&type=album);

  /*linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.3) 50%,rgba(0,0,0,0.7) 75%,#000 100%), url(https://vk.com/doc60141675_649564080?hash=XeSdyBI94OMexz8tkfLuQrTxSWvRdBZljii2OflimAc&dl=oE83krizCSS3IBGwQCkI6APbTlLqrqO6N3rTViyN1kg&wnd=1) ;
  */
  background-size: cover;
  background-position: center;
}

.second{
}

.third{

}

header{
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: transparent;
  padding: 28px 12%;
  transition: all .50s ease;
}

.logo{
  color: var(--main-color);
  display: flex;
  align-items: center;
  font-size: 35px;
  font-weight: 800;
}

.logo i{
  color: var(--main-color);
  font-size: 28px;
  margin-right: 3px;
}

.logo span{
  color: var(--text-color);
  font-size: 35px;
  font-weight: 800;
}

nav ul{
  display: flex;
}

nav ul a{
  color: var(--text-color);
  padding: 5px 5px;
  margin: 0 22px;
  display: inline-block;
  letter-spacing: 1px;
  transition: all .40s ease;
}
nav ul a:hover{
  color: var(--main-color);
  transition: 0.3s;
}

section{
  padding: 0 16%;
}

.main-header{
  width:100%;
  height:100vh;
  background-position: center;
  position: relative;
  display:grid;
  grid-template-columns: repeat(1,1fr);
  align-items: center;
}

.main-text h1{
  margin: 15px 0;
  font-size: 5.5rem;
  font-weight: 800;
  color:var(--text-color);
  letter-spacing: 2px;
  line-height: 1.1;
  text-transform: uppercase;
}

.main-text h5{
  font-size: 1.3rem;
  color: var(--main-color);
  letter-spacing: 5px;
  font-weight: 600;
  padding-bottom: 55px;
}

.btn{
  padding: 15px 35px;
  color: var(--text-color);
  background: var(--main-color);
  font-size: 15px;
  font-weight: 800;
  border-radius: 15px;
  border: 2px solid transparent;
  transition: all .4s ease;
}

.btn2{
  background: transparent;
  border: 2px solid var(--main-color);
  color: var(--main-color);
  margin-left: 20px;
  transition: all .4s ease;
}

.btn:hover{
  background: transparent;
  border: 2px solid var(--main-color);
  color: var(--main-color);
}

.btn2:hover{
  background: var(--main-color);
  color:#fff;
}


.right{
  display: flex;
  position: sticky;
  bottom: 5%;
  right: 5%;
  position: absolute;
  padding: 0 5%;
  transform: translateY(-50%);
}
/*
.scroll{
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}
*/
.right a{
  
  font-weight: 600;
  letter-spacing: 2px;
}

.left i{
  display: block;
}
.icons i{
  margin: 28px 0;
  font-size: 25px;
  color: var(--main-color);
  transition: all .4s ease;
}

.icons i:hover{
  color:#fff;
  transform: scale(1.1) translateX(-5px);
}

.team {
  position: relative;
  width: 100%;
  height: 100vh;
  /*background:#0f051d;*/
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.team h1, .learning h1{
  color: #fff;
  font-size: 4rem;
  text-align: center;
  padding-bottom: 25px;
}

.box{
  padding: 16px;
  background:#1b1229;
  border-radius: 15px;
  transition: all .38s ease;
}

.box h3{
  font-size: 23px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 8px;
}

.box h5{
  font-size: 15px;
  font-weight: 600;
  color: #b7b4bb;
  margin-bottom: 15px;
  letter-spacing: 2px;
}

.team-content{
  width: 100%;
  margin: 0 auto;
  max-width: 1350px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, auto));
  align-items: center;
  gap:2rem;
  text-align: center;
  margin-top: 4rem;
}

.team-content img{
  width: 100%;
  height: auto;
  border-radius: 15px;
  margin-bottom: 15px;
}

.learning-content{
  display: grid;
  grid-template: 500px/1fr 1fr;
  grid-gap: 20px;
  width: 100%;
  margin: 0 auto;
  max-width: 1350px;

}

.classes{
  
}

.school{
  
}

footer{
  width: 100%;
  height: auto;
  background: #000;
  margin: 0 auto;
  text-align: center;
  padding-top: 25px;
}
#menu-icon{
  color: var(--main-color);
  font-size: 26px;
  z-index: 10001;
  cursor:pointer;
  margin-left: 10px;
  display: none;
}

@media(max-width: 1470px){
  header{
      padding: 15px 2%;
      transition: .2s;
  }
  section{
      padding: 0 2%;
      transition: .2s;
  }

  .left{
      top:22px;
      right: 5%;
  }
  .left i{
    display: inline;
  }
  .right{
      right: 2%;
      transition: .2s;
  }
}
@media(max-width: 1000px){
  .main-text h1{
      font-size: 3.9rem;
      transition: .2s;
  }
  .main-text h5{
      font-size: 18px;
  }
  .main-text p{
      font-size: 1rem;
  }
  .btn{
      padding: 11px 29px;
      transition: .2s;
  }
}

@media(max-width: 975px){
  #menu-icon{
      display: block;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      height: 35px;
      width: 35px;
      background: var(--main-color);
      color: var(--bg-color);
      font-size: 25px;
      border-radius: 10px;
  }
  nav ul{
      position: absolute;
      top: -600px;
      left:0;
      right: 0;
      display: flex;
      flex-direction: column;
      background: rgba(0,0,0,0.6);
      text-align: left;
      transition: all .43s ease;
  }
  nav ul a{
      font-size: 15px;
      display: block;
      padding: 0.5rem;
      margin: 1.1rem;
      border-bottom: none;
      border-left: 2px solid var(--text-color);
  }
  nav ul a:hover{
      border-bottom: none;
      background: #fff;
      color: var(--bg-color);
  }
  nav ul.open{
      top: 100%;
  }
}
